<template>
  <view class="container">
    <text class="text-color-primary">{{infos.name}}</text>
    <text class="temp">{{infos.main.temp}}°C</text>
    <text class="temp">{{weather.main}}</text>
    <image
          :style="{width: 100, height: 100, alignItems: 'center'}"
          :source="icon"

    />
    <touchable-opacity :on-press="getLocation">
         <image
          :style="{width: 50, height: 50, alignItems: 'center'}"
          :source="{uri: 'https://freeiconshop.com/wp-content/uploads/edd/refresh-double-rounded-flat.png'}"
        />
    </touchable-opacity>
  </view>
</template>

<script>
import { Constants, Location, Permissions } from "expo";
import React from 'react';

const axios = require('axios');
export default {
  data: function() {
    return {
      location: {coords:{}, name:""},
      errorMessage: "",
      infos: {main: {}},
      weather: {},
      icon: {uri: "https://media.giphy.com/media/N256GFy1u6M6Y/giphy.gif"},
      city: "",
      key: "b6907d289e10d714a6e88b30761fae22",
      url: "https://openweathermap.org/data/2.5/weather"
    };
  },
  created: function(){
    this.getLocation();
  },
  methods: {
    getLocation: function() {
      Permissions.askAsync(Permissions.LOCATION).then(status => {
        if (status !== "granted") {
          errorMessage = "Permission to access location was denied";
        }
        Location.getCurrentPositionAsync({}).then(location1 => {
          this.location = location1;
          axios.get(this.url,
           { params: {lat: this.location.coords.latitude,
                      lon: this.location.coords.longitude,
                      appid: "b6907d289e10d714a6e88b30761fae22"}}
           ).then(response =>  {
                      this.infos = response.data;
                      this.weather = this.infos.weather[0];
                      this.icon.uri = "http://openweathermap.org/img/w/" +this.weather.icon + ".png"
                      console.log(this.icon);
                      }).catch((err)=>{
                          console.log(err);
                      });
        });
      }).catch((err)=>{
        console.log(err);
     });
    }
  }
};
</script>
 
<style>
.container {
  background-color: black;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.text-color-primary {
  color: white;
  font-size: 30;
  margin-bottom: 10px;
}
.button {
    background-color: #DDDDDD;
    padding: 10;
}
.temp {
  color: #42b983;
  font-size: 20;
  margin-bottom: 10px;
}
:button {
  padding: 2px;
  background-color: green;
}
</style>
